

<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>App Serco</title>

	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	

	<!-- HTML5 shim e Respond.js para suporte no IE8 de elementos HTML5 e media queries -->
	<!-- ALERTA: Respond.js não funciona se você visualizar uma página file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<title>| App Serco |</title>

</head>

<body>
<header>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">App Serco</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
						
						<li class="nav-item"><a class="nav-link" href="/funcionarios">Funcionários</a></li>
						<li class="nav-item"><a class="nav-link" href="/cadastrarFuncionario">Cadastrar Funcionário</a>
						</li>

						<li class="nav-item"><a class="nav-link" href="/cooperados">
								 Listar Cooperados
							</a></li>
						<li class="nav-item"><a class="nav-link" href="/cadastrarCooperado">
								 Cadastrar Cooperado
							</a></li>
							
							<li class="nav-item"><a class="nav-link" href="/cotas">
								 Cotas
							</a></li>
							<li class="nav-item"><a class="nav-link" href="/relatorios">
								 Relatórios
							</a></li>
							<li class="nav-item">
								<a class="nav-link" id="logout-link" href="/logout">Sair</a
							></li>
					</ul>
					<script>
						document.addEventListener("DOMContentLoaded", function() {
							let logoutLink = document.getElementById("logout-link");
							logoutLink.addEventListener("click", (event) => {
								event.preventDefault();
								var xmlhttp = new XMLHttpRequest();
						        xmlhttp.open("GET", "/cooperados", true);
						        xmlhttp.setRequestHeader("Authorization", "Basic logout");
						        xmlhttp.send();
						        
						        setTimeout(function () {
						            window.location.href = "http://localhost:8080/";
						        }, 200);
							});
						});
					</script>
				</div>
			</div>
		</nav>

	</header>
	
	<div class="container">

		<h1>Detalhes do cooperado:</h1>
		<div th:each="cooperado : ${cooperado}" class="container">

			<br>

			<p>
					<a th:href="${(#mvc.url('CC#divida').arg(0, cooperado.coopmatricula)).build()}"><button type="button"
					 class="btn btn-danger">Dívida</button></a>
					 <a th:href="${(#mvc.url('CC#cota').arg(0, cooperado.coopmatricula)).build()}"><button type="button"
					 class="btn btn-primary">Cota Parte</button></a>
					 <a th:href="${(#mvc.url('CC#coopendereco').arg(0, cooperado.coopmatricula)).build()}"><button type="button"
					 class="btn btn-danger">Endereço</button></a>
					 <a th:href="${(#mvc.url('CC#coopcadastro').arg(0, cooperado.coopmatricula)).build()}"><button type="button"
					 class="btn btn-primary">Dados Cadastrais</button></a>
					 <br><br>
				<b>Matrícula:</b> <span th:text="${cooperado.coopmatricula}"></span>
			</p>
			<p>
				<b>Nome:</b> <span th:text="${cooperado.coopnome}"></span>
			</p>
			<p>
				<b>Nome de Guerra:</b> <span th:text="${cooperado.coopnomeguerra}"></span>
			</p>
			
			
			<br> <br>
			
					<h2>Adicionar telefone:</h2>

			<th:block th:include="mensagemValidacao"></th:block>
			
			<br>

			<form method="post" th:object="${telefone}">

				<div class="form-group">
					<div class="row">

					<!-- 	<div class="col">
							<label for=""><b>Matrícula do Cooperado:</b> </label> <input type="text" value=""
								name="coopmatricula" class="form-control" placeholder="Matricula" required />
						</div>
						 -->
						
						<div class="col">
							<label for=""><b>Fone do Cooperado:</b> </label> <input type="text"  id="telefone" value=""
								name="cooptelnumero" class="form-control" placeholder="Telefone" required />
								
								<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
								<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
								<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
								<script>
								$(document).ready(function(){
									$('#telefone').inputmask('(99) 99999-9999');
								});
								</script>
						</div>

						<div class="col">
						
								<select name="coopteltipo" id="coopteltipo" class="custom-select my-3 p-2 w-100" required>
									<option value="">Escolher...</option>
									<option value="RESIDENCIAL">RESIDENCIAL</option>
									<option value="CELULAR">CELULAR</option>
									<option value="COMERCIAL">COMERCIAL</option>
									
										</select>
						</div>

			
					</div>



				</div>

				<button type="submit" class="btn btn-success">Adicionar
					Telefone</button>
			</form>


		</div>

		<br>

		<h2>Telefones:</h2>

		<table class="table table-hover table-responsive w-auto table-striped">
			<thead>
				<tr>
					<th scope="col">Telefone:</th>
					<th scope="col">Tipo:</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="telefone : ${telefones}">
					<td><span th:text="${telefone.cooptelnumero}"></span></td>
					<br>
					<td><span th:text="${telefone.coopteltipo}"></span></td>
					<td><a class="waves-effect waves-light btn-small" 
					th:href="${(#mvc.url('CC#deletarTelefone').arg(0, telefone.cooptelindexcod)).build()}"
					>
					<button type="button" class="btn btn-danger deletar-telefone">Excluir</button></a></td>
				</tr>
				
				<!--  <td><a
					th:href="${(#mvc.url('CC#deletarCooperado').arg(0, cooperado.coopmatricula)).build()}"
					th:attr="data-cooperado-nome=${cooperado.coopnome}"
					type="button" class="btn btn-danger deletar-cooperado" >Excluir</a></td>

-->
			</tbody>
		</table>
		<script>
	document.addEventListener("DOMContentLoaded", function() {
		document.querySelectorAll(".deletar-telefone").forEach(element => {
			element.addEventListener("click", function(event) {
				
				let nome = event.target.dataset["cooperadoNome"];
				if (!confirm("Deletar telefone ?")) {
					event.preventDefault();
				}
			});
		});
		
		document.querySelectorAll("input[type='checkbox'].lgpd").forEach(element => {
			element.addEventListener("click", function(event) {
				let value = event.target.checked;
				let type = event.target.dataset.lgpd;
				let cooperadoId = event.target.parentElement.parentElement.dataset.cooperadoId
				
				fetch(`/ControlaLGPD/${cooperadoId}?type=${type}&value=${value}`, {
					method: "POST"
				}).then().then();
				
				
				console.log(value, cooperadoId, type);
			});
		});
		
	});
</script>


	</div>


	<div style="height: 100px;"></div>

	<div class="footer-copyright fixed-bottom bg-dark text-center py-3">
		<span class="text-light align-middle">| App Serco - ©
			2023 Copyright: Kleber Rogério do Nascimento</span>
	</div>




	<!--JavaScript bootstrap-->
	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">

		</script>

</body>


</html>
