<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>| App Serco |</title>

<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>

	<!-- Incluir o fragmento do menu -->
    <div th:insert="fragments/menu :: menu"></div>


	<div class="container">

		<h1>Cadastrar cooperado</h1>

		<br>

		<th:block th:include="mensagemValidacao"></th:block>


		<form method="post">			

			<div class="form-group">
			<tr th:each="cooperado: ${cooperados}">
						
			<p>
			
			<b>Matrícula222:</b> <span th:text="${cooperado.coopmatricula}"></span>
			
			</p>
		</tr>
			</div>
			
			<div class="form-group">
				<label for=""><b>Nome do cooperado:</b> </label> <input type="text"
					class="form-control" value="" placeholder="Insira o nome do cooperado"
					name="coopnome" required> <small class="form-text text-muted"><i>*
						Coloque o nome completo.</i></small>
			</div>
			
			<div class="form-group">
				<label for=""><b>Nome de guerra:</b> </label> <input type="text"
					class="form-control" value="" placeholder="Insira o nome de guerra"
					name="coopnomeguerra" required> <small class="form-text text-muted"><i>*
						Coloque o nome de guerra simplificado.</i></small>
			</div>
			<!-- <div class="form-group">
				<label for=""><b>Endereço:</b> </label> <input type="text"
					class="form-control" value="" placeholder="Insira o logradouro"
					name="coopendendereco" > <small class="form-text text-muted"><i>*
						Coloque o Logradouro.</i></small>
			</div>
			
 -->

			<button type="submit" class="btn btn-success">Adicionar Cooperado</button>
			<a href="javascript:history.back()">Voltar</a>

		</form>

	</div>


	<div style="height: 100px;"></div>

	<!-- Incluir o rodapé no final da página -->
    <div th:insert="fragments/footer :: footer"></div>

	<!--JavaScript bootstrap-->
	<script type="application/json" src="bootstrap/js/bootstrap.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous">
		
	</script>


</body>

</html>